html {
  font-size: 18px; }
  @media (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media (max-width: 480px) {
    html {
      font-size: 16px; } }
  @media (max-width: 375px) {
    html {
      font-size: 11px; } }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Alegreya Sans',sans-serif;
  font-size: 1rem;
  color: #666666; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

.container {
  width: 90%;
  max-width: 52.2222222222rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.height100 {
  height: 100vh;
  min-height: 36.1111111111rem; }

.btn {
  padding: 1.31rem 2.56rem;
  border-radius: 6.25rem;
  border: none;
  color: #365A49;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.12rem;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.hamburger {
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
  z-index: 200; }

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px; }

.hamburger--active .hamburger__plank--top {
  transform: translateY(5px) translateX(0) rotate(45deg); }

.hamburger--active .hamburger__plank--middle {
  display: none; }

.hamburger--active .hamburger__plank--bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg); }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100; }
  .fixed-menu__item {
    margin-bottom: 5px; }
    .fixed-menu__item .fixed-menu__link {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid transparent;
      display: block;
      position: relative; }
      .fixed-menu__item .fixed-menu__link::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #fff; }

@media (max-width: 768px) {
  .fixed-menu {
    display: none; } }
.fullscreen-menu {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #333537;
  visibility: hidden;
  opacity: 0; }

.fullscreen-menu--active {
  display: block;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 19s ease; }

.body-active-menu {
  overflow: hidden; }

.fullscreen-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.fullscreen-menu__item {
  margin-bottom: 0.8888888889rem; }

.fullscreen-menu__link {
  color: #fff;
  font-size: 2rem;
  text-decoration: none; }
  .fullscreen-menu__link:hover {
    color: #497870; }

.modal {
  background: #313131;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  display: none;
  z-index: 400; }

.modal__content {
  position: fixed;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2.6666666667rem 0;
  height: 9.7777777778rem;
  display: none;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500; }

.modal__text {
  font-size: 1rem;
  line-height: 1.3333333333rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 1rem; }

.close {
  background: #365A49;
  color: #fff;
  margin-top: 0; }
  .close:hover {
    background: #fff;
    color: #365A49; }

.overlay__active {
  display: flex;
  opacity: 0.7; }

.modal__active {
  display: flex;
  opacity: 1; }

.header {
  background: url("./../img/pattern.png") right bottom no-repeat;
  background-color: #61C4D9;
  position: relative; }
  .header::before {
    content: "";
    background: url("./../img/decor/leaf.png");
    width: 3.2777777778rem;
    height: 6.2222222222rem;
    position: absolute;
    bottom: -30px;
    left: 2%; }
  .header::after {
    content: "";
    background: url("./../img/decor/bears.png");
    width: 25.5555555556rem;
    height: 18.9444444444rem;
    position: absolute;
    bottom: -48px;
    right: 2%; }

.header__container {
  justify-content: space-between;
  padding-bottom: 2.5rem; }

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1.3333333333rem; }

.logo-img {
  position: relative;
  top: 0.6666666667rem; }

.navigation {
  display: flex; }

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  color: #fff;
  font-weight: 400;
  line-height: 1.1111111111rem; }

.navigation__menu--item {
  margin-left: 1.5rem; }

.phone {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.2222222222rem;
  line-height: 1rem;
  min-width: 8.4444444444rem; }
  .phone:hover {
    color: #292929; }

.header__title-section {
  display: flex;
  justify-content: space-between; }

.header__title-text {
  padding: 4.6666666667rem 0 4.6666666667rem 0;
  color: #fff;
  flex: 1; }

.header__main-title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 1.1;
  text-transform: uppercase; }

.header-desc {
  margin-top: 0.9444444444rem;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem; }

.btn-order {
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 100px;
  border: none;
  color: #365A49;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
  text-transform: uppercase;
  margin-top: 1.7777777778rem;
  cursor: pointer; }
  .btn-order:hover {
    color: #fff;
    background: #2E4E3F; }

.wrapper__chocolades {
  display: flex;
  align-items: center; }

.chocolades {
  width: 100%; }

.header-bottom {
  margin-top: 3.5555555556rem; }

.header-bottom__list {
  display: flex;
  color: #fff;
  list-style-type: none; }

.header-bottom__item {
  display: flex;
  align-items: flex-start;
  padding-right: 0.8888888889rem;
  margin-right: 2.7777777778rem; }

.header-bottom__img {
  margin-right: 0.7222222222rem;
  width: 2.2222222222rem;
  height: 2.2222222222rem; }

.header-bottom__text {
  max-width: 4.7222222222rem; }

@media (max-width: 768px) {
  .header {
    background: url("./../img/pattern.png") right center no-repeat;
    background-color: #61C4D9; }
    .header:before, .header:after {
      display: none; }

  .top-header {
    align-items: center; }

  .container {
    width: 90%;
    height: 100%; }

  .navigation__menu {
    display: none; }

  .header__phone {
    display: none; }

  .hamburger {
    display: inline-flex; }

  .header__title-text {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .header__title-text::before {
      content: "";
      width: 100%;
      max-width: 374px;
      height: 22.2222222222rem;
      background: url("./../img/chocolades-and-berries.png") no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: 1.3888888889rem; }

  .header-desc {
    padding: 0 25%; }

  .chocolades {
    display: none; }

  .header-bottom {
    display: none; } }
@media (max-width: 480px) {
  .header__container {
    justify-content: center;
    position: relative; }

  .top-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }

  .header__title-text {
    width: 100%;
    padding: 0; } }
@media (max-width: 375px) {
  .top-header {
    padding-top: 0.2777777778rem; }

  .header-desc {
    padding: 0; }

  .header::after {
    background: #61C4D9;
    height: 12.2222222222rem; } }
.features .container {
  align-items: center; }

.features__headline {
  text-align: center;
  margin-bottom: 1.3888888889rem; }

.features__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem; }

.features__subtitle {
  padding: 0 26%;
  line-height: 1.2222222222rem; }

.benefits {
  display: flex; }

.benefits__item {
  flex: 1;
  padding: 0 3%;
  text-align: center;
  position: relative; }
  .benefits__item::before {
    content: url("./../img/separator.png");
    position: absolute;
    top: 3.2222222222rem;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child::before {
      display: none; }

.benefit__image-wrapper {
  display: inline-block;
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefits-section {
  position: relative;
  background: url("./../img/decor/transparent_leaf.png") left top 57% no-repeat; }
  .benefits-section::before {
    content: url("./../img/decor/raspberry.png");
    position: absolute;
    bottom: -6.1111111111rem;
    left: 0;
    z-index: 200; }

@media (max-width: 768px) {
  .benefits-section {
    background-position: left top 16%; } }
@media (max-width: 480px) {
  .benefits-section {
    background: none; }
    .benefits-section::before {
      display: none; }

  .features__subtitle {
    padding: 0; }

  .benefits {
    flex-direction: column; }

  .benefits__item {
    display: flex;
    flex-direction: row;
    text-align: left; }
    .benefits__item::before {
      display: none; }

  .benefit__image {
    margin-right: 0.6666666667rem; }

  .benefit__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.6666666667rem; }

  .benefit__title {
    margin-bottom: 0.7777777778rem; } }
.bars {
  background-color: #F8FAF9;
  position: relative; }
  .bars::before {
    content: "";
    background: url(./../img/pattern-slider.png) right bottom -30% no-repeat;
    width: 10.8888888889rem;
    height: 25.1666666667rem;
    position: absolute;
    right: 0;
    bottom: -13.7777777778rem; }
  .bars::after {
    content: '';
    background: url("./../img/decor/blueberries.png");
    position: absolute;
    right: 2%;
    bottom: -4.6666666667rem;
    width: 7.5rem;
    height: 6.2222222222rem; }

.slider {
  position: relative; }

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 300; }

.slider__arrow--prev {
  left: -1.2222222222rem; }

.slider__arrow--next {
  right: -1.2222222222rem; }

.slider__content {
  overflow: hidden; }

.slider__list {
  display: flex;
  width: 100%; }

.slider__item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  transition: translate() 0.8s; }

.slider__left, .slider__right {
  flex: 1;
  display: flex; }

.slider__left {
  align-items: center; }

.bars__img {
  max-width: 100%;
  height: auto; }

.slider__right {
  padding-left: 2.2222222222rem;
  flex-direction: column;
  justify-content: space-between; }

.ingridients {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #86C3D7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.ingridients__text {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.9444444444rem; }

.composition {
  position: absolute;
  top: 0;
  left: -9999px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  width: 15rem;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  padding: 0 1.3888888889rem 0 1.6666666667rem;
  backdrop-filter: blur(40px);
  opacity: 0;
  transition: opacity 0.3s; }

.ingridients:hover .composition {
  opacity: 1;
  left: 100%;
  cursor: pointer; }

.ingridients:hover {
  cursor: pointer; }

.composition__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5555555556rem;
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
  font-weight: bold; }
  .composition__item:last-child {
    margin-bottom: 1.7777777778rem; }

.slider__title {
  color: #292929;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.3888888889rem;
  margin: 1.2777777778rem 0; }

.slider__desc {
  color: #666;
  font-size: 1rem;
  line-height: 1.2222222222rem; }

.slider__properties {
  display: flex;
  margin: 1.2777777778rem 0; }

.slider__calories, .slider__weight {
  min-width: 10.3333333333rem; }

.slider__properties--title {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666; }

.slider__properties--value {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #000;
  font-weight: bold; }

.slider__order {
  display: flex;
  justify-content: space-between; }

.slider__price {
  color: #151515;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  font-weight: 300;
  min-width: 8.2222222222rem; }

.slider__to-order {
  margin: 0 5rem 0 0;
  background: #497870;
  color: #fff; }
  .slider__to-order:hover {
    background: #fff;
    color: #497870; }

@media (max-width: 768px) {
  .bars::before {
    content: "";
    background: url("./../img/pattern-slider-small.png") right bottom no-repeat;
    width: 149px;
    height: 351px;
    position: absolute;
    right: 0;
    bottom: -6.6666666667rem; }
  .bars::after {
    content: '';
    background: url("./../img/decor/blueberries-small.png");
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 106px;
    height: 88px; }

  .slider__arrow {
    top: 32%; }

  .slider__arrow--next {
    right: 0; }

  .slider__arrow--prev {
    left: 0; }

  .slider__item {
    flex-direction: column; }

  .ingridients {
    display: none; }

  .slider__left {
    justify-content: center; }

  .slider__right {
    text-align: center;
    padding-left: 0; }

  .slider__properties, .slider__order {
    justify-content: center; }

  .slider__calories,
  .slider__weight {
    min-width: 8.3333333333rem; }

  .slider__to-order {
    margin-right: 0; } }
@media (max-width: 480px) {
  .bars::after {
    bottom: -2.5555555556rem;
    right: 0; } }
@media (max-width: 375px) {
  .slider__title {
    margin: 0.5555555556rem 0; }

  .slider__properties {
    margin: 0.5555555556rem 0; }

  .slider__arrow {
    top: 40%; } }
.team {
  position: relative; }

.team::before {
  content: '';
  width: 104px;
  height: 114px;
  background: url("./../img/decor/berry.png") no-repeat;
  display: block;
  position: absolute;
  left: 2%;
  bottom: -2.6666666667rem;
  z-index: 200; }

.team__title {
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #292929;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2.9444444444rem; }

.team__list {
  display: flex;
  justify-content: space-between; }

.team__list--mobile-version {
  display: none; }

.team__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .team__item:last-child {
    z-index: 100; }

.team__img {
  width: 100%;
  margin-bottom: 1.1666666667rem; }

.team__title-wrapper {
  display: flex;
  justify-content: center; }

.team__name {
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  font-weight: bold;
  color: #292929;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 0; }
  .team__name:active, .team__name:focus {
    outline: none; }
  .team__name:hover {
    cursor: pointer; }
  .team__name::after {
    content: url("./../img/triangle.svg");
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-left: 0.2222222222rem;
    bottom: 2px;
    position: relative; }
  @media (max-width: 845px) {
    .team__name {
      font-size: 19px; } }

.triangle-up::after {
  transform: rotate(180deg) translateY(20%);
  top: 20px; }

.team__img {
  max-width: 100%; }

.team__accordion {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: max-height .6s; }

.team__accordion--open {
  height: auto;
  max-height: 140px;
  transition: max-height .8s; }

.team__position {
  margin-bottom: 0.2222222222rem;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #292929; }

.team__desc {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666; }

@media (max-width: 768px) {
  .team::before {
    background: url("./../img/decor/berry_small.png");
    width: 89px;
    height: 98px; }

  .team__container {
    align-items: center; }

  .team__list--desktop-version {
    display: none; }

  .team__list--mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; }

  .team__item {
    width: auto;
    align-items: center;
    margin-bottom: 0.8888888889rem; }

  .team__img--wrapper {
    width: 50%; }

  .team__name {
    font-size: 1.0555555556rem;
    margin-bottom: 0.8888888889rem;
    display: flex; }
    .team__name::after {
      top: 0.1px; }

  .triangle-up::after {
    position: relative;
    top: 16px; }

  .team__accordion {
    position: static; }

  .team__accordion--open {
    height: auto;
    max-height: 280px;
    transition: max-height .8s; }

  .team__accordion--content {
    margin-bottom: 0.8888888889rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .team__desc {
    max-width: 14.4444444444rem; } }
@media (max-width: 480px) {
  .team__item {
    margin-bottom: 0; }

  .team__img {
    max-width: 100%; } }
@media (max-width: 375px) {
  .triangle-up::after {
    top: 7px; } }
.menu {
  background: url("./../img/menu-bg.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.menu__title {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: bold;
  top: 10%;
  left: 10%; }

.menu__list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.menu__item {
  height: 100%;
  visibility: visible;
  display: flex; }

.menu__item.active .menu__item--title {
  color: yellow; }

.menu__item.active .menu__content {
  width: 29.1111111111rem;
  transition: width .4s; }

.menu__link {
  text-decoration: none;
  width: 5.6666666667rem;
  display: flex;
  justify-content: center; }

.first-link {
  background: url("./../img/kokosovoe-maslo-dlya-zdorovya-i-krasoty.jpg"); }

.second-link {
  background: url("./../img/granola-bars-with-calamondin.jpg"); }

.third-link {
  background: url("./../img/wild-berries.jpg"); }

.menu__item--title {
  white-space: nowrap;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: bold;
  color: #fff;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin-bottom: 1.1111111111rem; }

.menu__content {
  width: 0;
  height: 100%;
  background: rgba(51, 53, 55, 0.9);
  transition: width .4s; }

.menu__text {
  width: 100%;
  padding: 1.6666666667rem 2.1111111111rem;
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
  color: #fff; }

.menu__content--close {
  display: none; }

@media (max-width: 480px) {
  .menu__item.active {
    order: 1;
    flex-shrink: 0;
    width: 100%; }

  .menu__text {
    padding-top: 4.4444444444rem; }

  .menu__item.active .menu__content--close {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 18px;
    height: 18px; }
    .menu__item.active .menu__content--close:hover {
      cursor: pointer; }
    .menu__item.active .menu__content--close::before, .menu__item.active .menu__content--close::after {
      content: '';
      width: 18px;
      height: 2px;
      background: #fff;
      position: absolute; }
    .menu__item.active .menu__content--close::before {
      transform: rotate(45deg); }
    .menu__item.active .menu__content--close::after {
      transform: rotate(-45deg); } }
.feedback {
  position: relative; }
  .feedback::before {
    content: "";
    background: url("./../img/decor/two_strawberries.png");
    position: absolute;
    width: 136px;
    height: 78px;
    top: 2.1111111111rem;
    right: 1.1666666667rem; }
  .feedback::after {
    content: "";
    background: url("./../img/decor/five_berries.png");
    position: absolute;
    width: 135px;
    height: 193px;
    bottom: -4.7777777778rem;
    left: 0;
    z-index: 50; }
  .feedback .container {
    align-items: center; }

.feedback__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  line-height: 3.2222222222rem;
  margin-bottom: 1.7777777778rem;
  color: #292929; }

.feedback__reviews {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.feedback__display {
  display: none;
  padding: 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
  position: relative;
  background: #F8FAF9;
  overflow: hidden;
  opacity: 0; }
  .feedback__display::before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -3.6111111111rem;
    left: 50%;
    transform: translateX(-50%); }
  .feedback__display::after {
    content: url("./../img/decor/reviews__leaves.png");
    position: absolute;
    top: 1.2222222222rem;
    right: 0; }

.review--active {
  opacity: 1;
  display: flex; }

.review__text {
  padding: 1.6666666667rem 6.6666666667rem 0 2.2222222222rem; }

.review__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin-bottom: 0.6666666667rem; }

.review__message {
  line-height: 1.2222222222rem;
  margin-bottom: 1.3888888889rem; }

.review__author {
  line-height: 1.3333333333rem;
  font-weight: 500;
  color: #292929; }

.feedback__switcher {
  display: flex;
  justify-content: center;
  align-items: center; }

.feedback__switcher-item {
  margin-right: 0.3333333333rem; }
  .feedback__switcher-item:last-child {
    margin-right: 0; }
  .feedback__switcher-item:hover .small-avatar {
    border-color: #365a49; }

.small-avatar {
  border: 4px solid transparent;
  border-radius: 100%; }

.small-avatar--active {
  border-color: #365a49; }

@media (max-width: 768px) {
  .feedback__display {
    flex-direction: column;
    align-items: center; }

  .review__author-avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem; }

  .avatar {
    max-width: 100%; }

  .review__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8888888889rem 0 0 0; } }
@media (max-width: 480px) {
  .feedback::after {
    content: "";
    background: url("./../img/decor/five_berries_small.png");
    position: absolute;
    width: 95px;
    height: 170px;
    bottom: -4.7777777778rem;
    left: 0;
    z-index: 50; }

  .feedback__title {
    z-index: 100; }

  .avatar {
    max-width: 100%; }

  .feedback__display::after {
    content: none; } }
.order {
  position: relative;
  background: url("./../img/form__bg.png"); }
  .order::before {
    content: "";
    background: url("./../img/decor/one__berry.png");
    width: 2.6111111111rem;
    height: 2.6666666667rem;
    position: absolute;
    bottom: 3.8333333333rem;
    left: 2.8333333333rem; }
  .order::after {
    content: "";
    background: url("./../img/decor/order__leaf.png");
    width: 7.5rem;
    height: 10.4444444444rem;
    position: absolute;
    bottom: 3.2222222222rem;
    right: 0.5555555556rem; }
  .order .container {
    align-items: center; }

.order__title {
  color: #365A49;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3.2777777778rem;
  text-align: center; }

.form {
  display: flex; }

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 1rem; }

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent; }
  .form__input:focus {
    border: 0.1666666667rem solid #dee2bd;
    outline: none; }
  .form__input--textarea {
    height: 10rem;
    resize: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1.0555555556rem;
  margin-right: 0.5555555556rem;
  align-items: center; }

.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem; }
  .radio--checkbox .radio__visible::before {
    background: url("./../img/tick.png") center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem; }
  .radio__visible::before {
    content: "";
    width: 0.7777777778rem;
    height: 0.7777777778rem;
    background: #365a49;
    position: absolute;
    display: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.form__order-btn {
  color: #fff;
  background: #2E4E3F; }
  .form__order-btn:hover {
    color: #2E4E3F;
    background: #fff; }

.form__reset-btn {
  background: transparent;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  font-weight: 300; }
  .form__reset-btn:hover {
    color: #000; }

.input-error {
  border: 1px solid red; }

@media (max-width: 768px) {
  .order::before, .order::after {
    display: none; }

  .form {
    flex-direction: column; }

  .form__col {
    display: flex;
    flex-direction: column;
    margin-right: 0; }
    .form__col:last-child {
      align-items: center; }
      .form__col:last-child .form__row {
        width: 100%; }

  .form__controls {
    align-items: center; }

  .radio--checkbox {
    align-items: flex-start; } }
.map {
  position: relative; }

.map__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%; }

.footer__container {
  display: flex;
  flex-direction: row; }

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 1rem 0; }

.footer__address {
  color: #292929;
  font-size: 1.1666666667rem;
  line-height: 1.3333333333rem;
  min-width: 262px; }

.footer__phone {
  color: #497870;
  margin-top: 0.3333333333rem; }

.social {
  display: flex;
  align-items: center;
  flex: 1; }

.social__list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center; }

.social__list--item {
  margin-left: 0.7777777778rem; }
  .social__list--item:first-child {
    margin-left: 0; }

.social__img {
  width: 20px;
  height: 20px;
  opacity: 0.4;
  display: flex;
  align-items: center; }
  .social__img:hover {
    opacity: 1; }

@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    padding: 1.1111111111rem 0 1.9444444444rem; }

  .footer__contacts {
    align-items: center; }

  .footer__address {
    margin-bottom: 0.6666666667rem;
    min-width: 0; }

  .social__list {
    justify-content: center;
    margin-top: 0.6666666667rem; } }

/*# sourceMappingURL=main.css.map */
