.btn {
    padding: 1.31rem 2.56rem;
    border-radius: 6.25rem;
    border: none;
    color: #365A49;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.12rem;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
