html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 18px;
    color: #666666;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 942px;
    margin: 0 auto;
    height: 100%;
}