html {
    font-size: $baseFontSize;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 1rem;
    color: #666666;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 90%;
    max-width: rem(940px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

