<<<<<<< HEAD
.features {
    height: 100vh;
    min-height: 650px;
    
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        
        .features__headline {
            text-align: center;
            margin-bottom: 25px;

        
            .features__title {
                font-weight: 700;
                font-size: 48px;
                line-height: 58px;
                color: #292929;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            .features__subtitle {
                padding: 0 26%;
                line-height: 22px;
            }

    }

        .benefits {
            display: flex;

            &__item {
                flex: 1;
                padding: 0 3%;
                text-align: center;
                position: relative;

                &::before {
                    content: url("../img/separator.png");
                    position: absolute;
                    top: 58px;
                    right: 0;
                    transform: translateX(50%);
                }
                

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &::before {
                        display: none;
                    }
                }

                .benefit__image-wrapper {
                    display: inline-block;
                    position: relative;
                    width: 126px;
                    height: 126px;
                    background: #F2F5F4;
                    border-radius: 50%;
                    overflow: hidden;

                    .benefit__icon {
                        width: 75px;
                        height: 69px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.benefits-section {
    position: relative;
    background: url('../img/decor/transparent_leaf.png') left top 57% no-repeat;

    &::before {
        content: url('../img/decor/raspberry.png');
        position: absolute;
        bottom: -110px;
        left: 0;
    }
=======
.features {
    height: 100vh;
    min-height: 650px;
    
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        
        .features__headline {
            text-align: center;
            margin-bottom: 25px;

        
            .features__title {
                font-weight: 700;
                font-size: 48px;
                line-height: 58px;
                color: #292929;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            .features__subtitle {
                padding: 0 26%;
                line-height: 22px;
            }

    }

        .benefits {
            display: flex;

            &__item {
                flex: 1;
                padding: 0 3%;
                text-align: center;
                position: relative;

                &::before {
                    content: url("../../img/separator.png");
                    position: absolute;
                    top: 58px;
                    right: 0;
                    transform: translateX(50%);
                }
                

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &::before {
                        display: none;
                    }
                }

                .benefit__image-wrapper {
                    display: inline-block;
                    position: relative;
                    width: 126px;
                    height: 126px;
                    background: #F2F5F4;
                    border-radius: 50%;
                    overflow: hidden;

                    .benefit__icon {
                        width: 75px;
                        height: 69px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.benefits-section {
    position: relative;
    background: url('../../img/decor/transparent_leaf.png') left top 57% no-repeat;

    &::before {
        content: url('../../img/decor/raspberry.png');
        position: absolute;
        bottom: -110px;
        left: 0;
    }
>>>>>>> 5ff0cffbb6dd205a67ee74b6a82996f022e85076
}