.feedback {
    position: relative;

    &::before {
        content: "";
        background: url('./../img/decor/two_strawberries.png');
        position: absolute;
        width: 136px;
        height: 78px;
        top: rem(38px);
        right: rem(21px);
    }

    &::after {
        content: "";
        background: url('./../img/decor/five_berries.png');
        position: absolute;
        width: 135px;
        height: 193px;
        bottom: rem(-86px);
        left: 0;
        z-index: $z-five-berries;
    }

    .container {        
        align-items: center;
    }
}   

.feedback__title {
    text-align: center;
    font-weight: 700;
    font-size: rem(48px);
    text-transform: uppercase;
    line-height: rem(58px);
    margin-bottom: rem(32px);
    color: #292929;
}

.feedback__reviews {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.feedback__display {
    display: none;
    padding: rem(42px);
    margin-bottom: rem(15px);
    position: relative;
    background: #F8FAF9;
    overflow: hidden;
    opacity: 0;

    &::before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: rem(-65px);
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        content: url('./../img/decor/reviews__leaves.png');
        position: absolute;
        top: rem(22px);
        right: 0;
    }
}

.review--active {
    opacity: 1;
    display: flex;
}

.review__text {
    padding: rem(30px) rem(120px) 0 rem(40px);
}

.review__title {
    font-weight: bold;
    font-size: rem(27px);
    line-height: rem(32px);
    color: #292929;
    margin-bottom: rem(12px);
}

.review__message {
    line-height: rem(22px);
    margin-bottom: rem(25px);
}

.review__author {
    line-height: rem(24px);
    font-weight: 500;
    color: #292929;
}               
 
.feedback__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__switcher-item  {
    margin-right: rem(6px);

    &:last-child {
        margin-right: 0;
    }

    &:hover .small-avatar{
        border-color: #365a49;
    }
}    

.small-avatar {
    border: 4px solid transparent;
    border-radius: 100%;
}

.small-avatar--active {
    border-color: #365a49;
}

@media (max-width: 768px) {
    .feedback__display {
        flex-direction: column;
        align-items: center;
    }

    .review__author-avatar {
        width: rem(130px);
        height: rem(132px);
    }

    .avatar {
        max-width: 100%;
    }

    .review__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(16px) 0 0 0;
    }
}

@media (max-width: 480px) {
    .feedback {
        &::after {
            content: "";
            background: url('./../img/decor/five_berries_small.png');
            position: absolute;
            width: 95px;
            height: 170px;
            bottom: rem(-86px);
            left: 0;
            z-index: $z-five-berries;
        }

    }

    .feedback__title {
        z-index: 100;
    }

    .avatar {
        max-width: 100%;
    }

    .feedback__display::after {
        content: none;
    }
}