.header {
    background: url('./../img/pattern.png') right bottom no-repeat;
    background-color:#61C4D9;
    position: relative;

    &::before {
        content: "";
        background: url('./../img/decor/leaf.png');
        width: rem(59px);
        height: rem(112px);
        position: absolute;
        bottom: -30px;
        left: 2%;
    }

    &::after {
        content: "";
        background: url('./../img/decor/bears.png');
        width: rem(460px);
        height: rem(341px);
        position: absolute;
        bottom: -48px;
        right: 2%;
    }
}

.header__container {
    justify-content: space-between;
    padding-bottom: rem(45px);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: rem(24px);
}

.logo-img {
    position: relative;
    top: rem(12px);
}

.navigation {
    display: flex;
}

.navigation__menu {
    display: flex;  
    align-items: center;  
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    color: #fff;                
    font-weight: 400;
    line-height: rem(20px);
}

.navigation__menu--item {
    margin-left: rem(27px);
    cursor: pointer;
}


.header__phone {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: rem(22px);
    line-height: 1rem;
    min-width: rem(152px);

    &:hover {
        color: #292929;
    }
}        

.header__title-section {
    display: flex;
    justify-content: space-between;
}

.header__title-text {
    padding: rem(84px) 0 rem(84px) 0;
    color: #fff;
    flex: 1;
}        

.header__main-title {
    font-weight: 700;
    font-size: rem(48px);
    line-height: 1.1;
    text-transform: uppercase;
}

.header-desc {
    margin-top: rem(17px);
    font-weight: 400;
    font-size: rem(21px);
    line-height: rem(25px);
}

.btn-order {
    padding: rem(21px) rem(41px);
    border-radius: 100px;
    border: none;
    color: #365A49;
    font-weight: 800;
    font-size: rem(16px);
    line-height: 1rem;
    text-transform: uppercase;
    margin-top: rem(32px);
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #2E4E3F;
    }
}  

.wrapper__chocolades {
    display: flex;
    align-items: center;
}

.chocolades {
    width: 100%;
}

.header-bottom {
    margin-top: rem(64px);
}

.header-bottom__list {
    display: flex;
    color: #fff;
    list-style-type: none;
}

.header-bottom__item {
    display: flex;
    align-items: flex-start;
    padding-right: rem(16px);
    margin-right: rem(50px);
}

.header-bottom__img {
    margin-right: rem(13px);
    width: rem(40px);
    height: rem(40px);
}

.header-bottom__text {
    max-width: rem(85px);
}


@media(max-width: 768px) {

    .header {
        background: url('./../img/pattern.png') right center no-repeat;
        background-color:#61C4D9;

        &:before,
        &:after {
            display: none;
        }
    }

    .top-header {
        align-items: center;
    }

    .container {
        width: 90%;
        height: 100%;
    }

    .navigation__menu {
        display: none;
    }

    .header__phone {
        display: none;
    }

    .hamburger {
        display: inline-flex;
    }

    .header__title-text {
        display: flex;
        width: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: "";
            width: 100%;
            max-width: 374px;
            height: rem(400px);
            background: url('./../img/chocolades-and-berries.png') no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: rem(25px);
        }
    }
    
     .header-desc {
         padding: 0 25%;
    }

    .chocolades {
        display: none;
    }
     
    .header-bottom {
        display: none;
    }
}

@media (max-width: 480px) {

    .header__container {
        justify-content: space-around;
        position: relative;
    }

    .top-header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
   
    .header__title-text {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 375px) {
    .top-header {
        padding-top: rem(5px);
    }

    .header-desc {
        padding: 0;
    }

    .header::after {
        background: #61C4D9;
        height: rem(220px);
    }
}